<div class="col-md-6 col-md-offset-1">
  <h1>Editing Article</h1>

  <%= render 'form' %>

  <%= link_to 'Show', @article, class: "btn btn-success" %> |
  <%= link_to 'Back', articles_path, class: "btn btn-primary" %>
</div>
